<a href="https://colab.research.google.com/github/mihnguyen/udemy-customer-analytics/blob/main/purchase-prediction/notebook_Purchase_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Import Data and Libraries

In [1]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

import pickle

In [2]:
from google.colab import files
uploaded = files.upload()

Saving purchase data.csv to purchase data.csv

In [3]:
import io

df_purchase = pd.read_csv(io.BytesIO(uploaded['purchase data.csv']), index_col = 0)  # Making ID column an index column

### Data Exploration

In [67]:
df_purchase.head()

           Day  Incidence  Brand  ...  Income  Occupation  Settlement size
ID                                ...
200000001    1          0      0  ...  110866           1                0
200000001   11          0      0  ...  110866           1                0
200000001   12          0      0  ...  110866           1                0
200000001   16          0      0  ...  110866           1                0
200000001   18          0      0  ...  110866           1                0

[5 rows x 23 columns]

ID column is currently an index column. Need to reset_index to do aggregation later on:

In [70]:
df_purchase_unindexed = df_purchase.reset_index()
df_purchase_unindexed

              ID  Day  Incidence  ...  Income  Occupation  Settlement size
0      200000001    1          0  ...  110866           1                0
1      200000001   11          0  ...  110866           1                0
2      200000001   12          0  ...  110866           1                0
3      200000001   16          0  ...  110866           1                0
4      200000001   18          0  ...  110866           1                0
...          ...  ...        ...  ...     ...         ...              ...
58688  200000500  703          0  ...  120946           1                0
58689  200000500  710          0  ...  120946           1                0
58690  200000500  717          0  ...  120946           1                0
58691  200000500  722          1  ...  120946           1                0
58692  200000500  726          0  ...  120946           1                0

[58693 rows x 24 columns]

Check for missing values:

In [80]:
df_purchase_unindexed.isnull().sum()

ID                   0
Day                  0
Incidence            0
Brand                0
Quantity             0
Last_Inc_Brand       0
Last_Inc_Quantity    0
Price_1              0
Price_2              0
Price_3              0
Price_4              0
Price_5              0
Promotion_1          0
Promotion_2          0
Promotion_3          0
Promotion_4          0
Promotion_5          0
Sex                  0
Marital status       0
Age                  0
Education            0
Income               0
Occupation           0
Settlement size      0
dtype: int64

### Import Customer Segmentation Model

In previous Customer Segmentation notebook, we have exported the standardized data, PCA, and K-Means PCA to be used in this Purchase Prediction analysis. Let's load those here:

In [74]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [75]:
import pickle
drive.mount('/content/drive')
DATA_PATH = "/content/drive/My Drive/Colab Notebooks"
infile = open(DATA_PATH+'/pca.pickle','rb')
pca = pickle.load(infile)

pca

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

PCA(copy=True, iterated_power='auto', n_components=3, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [76]:
import pickle
drive.mount('/content/drive')
DATA_PATH = "/content/drive/My Drive/Colab Notebooks"
infile = open(DATA_PATH+'/scaler.pickle','rb')
scaler = pickle.load(infile)

scaler

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

StandardScaler(copy=True, with_mean=True, with_std=True)

In [77]:
import pickle
drive.mount('/content/drive')
DATA_PATH = "/content/drive/My Drive/Colab Notebooks"
infile = open(DATA_PATH+'/kmeans_pca.pickle','rb')
kmeans_pca = pickle.load(infile)

kmeans_pca

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=4, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=42, tol=0.0001, verbose=0)

###Standardize Purchase Data

Apply standardized customer data to purchase data:

In [81]:
features = df_purchase_unindexed[['Sex', 'Marital status', 'Age', 'Education', 'Income', 'Occupation', 'Settlement size']] # Append 7 features from customer data to purchase data
df_purchase_segm_std = scaler.transform(features) # transform() vs fit_transform(): the former uses previously computed

###PCA

Similarly, apply standardized PCA from customer segmentation to purchase data:

In [82]:
df_purchase_segm_pca = pca.transform(df_purchase_segm_std)

###K-Means PCA

In [83]:
purchase_segm_kmeans_pca = kmeans_pca.predict(df_purchase_segm_pca)

In [87]:
df_purchase_predictors = df_purchase_unindexed.copy()

In [85]:
df_purchase_predictors['Segment'] = purchase_segm_kmeans_pca # Add column Segment

###Descriptive Analysis by Customer

Let's group the data by customer level to see each individual's purchasing behavior. First let's check what the purchase data looks like:

In [88]:
df_purchase_predictors.head()

          ID  Day  Incidence  ...  Income  Occupation  Settlement size
0  200000001    1          0  ...  110866           1                0
1  200000001   11          0  ...  110866           1                0
2  200000001   12          0  ...  110866           1                0
3  200000001   16          0  ...  110866           1                0
4  200000001   18          0  ...  110866           1                0

[5 rows x 24 columns]

Get the number of visits (incidences) by customer:

In [98]:
# number of visits (incidences) by customer
temp1 = df_purchase_predictors[['ID', 'Incidence']].groupby(['ID'], as_index = False).count()
temp1 = temp1.set_index('ID') # set ID column back to an index column to be used for joining later
temp1 = temp1.rename(columns = {'Incidence': 'N_Visits'})
temp1.head()

           N_Visits
ID
200000001       101
200000002        87
200000003        97
200000004        85
200000005       111

Get the number of purchases by customer:

(Note that for "Incidence" column, value of 0 means no purchase, 1 means purchase.)

In [99]:
# number of purchases by customer
temp2 = df_purchase_predictors[['ID', 'Incidence']].groupby(['ID'], as_index = False).sum()
temp2 = temp2.set_index('ID')
temp2 = temp2.rename(columns = {'Incidence': 'N_Purchases'})
temp2.head()

           N_Purchases
ID
200000001            9
200000002           11
200000003           10
200000004           11
200000005           13

Join temp1 and temp2 tables on field ID:

In [101]:
temp3 = temp1.join(temp2)
temp3.head()

           N_Visits  N_Purchases
ID
200000001       101            9
200000002        87           11
200000003        97           10
200000004        85           11
200000005       111           13

Now calculate and add the column for average number of purchases per visit per customer, defined as:
Average_N_Purchases = N_purchases / N_visits:

In [102]:
temp3['Average_N_Purchases'] = temp3['N_Purchases'] / temp3['N_Visits']
temp3.head()

           N_Visits  N_Purchases  Average_N_Purchases
ID
200000001       101            9             0.089109
200000002        87           11             0.126437
200000003        97           10             0.103093
200000004        85           11             0.129412
200000005       111           13             0.117117